@model LibraryManager.ViewModels.Home.IndexVM
@using LibraryManager.Entities

@{
    ViewData["Title"] = "Home Page";
}

@foreach (Book book in Model.Books)
{
    <div class="row">
        <div class="col-3">@book.Title</div>
        <div class="col-3">@book.Genre.Name</div>
        <div class="col-3">
        
            </div>

    </div>

}
