@model LibraryManager.App.ViewModels.Admin.AddAuthorVM;

@{
    Layout = "/Views/Shared/_Site.cshtml";
    ViewData["Title"] = "Add Author";
}

<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-teal">Add Author</h1>
        <a asp-action="Books" asp-controller="Admin" class="btn btn-secondary">
            Back to List
        </a>
    </div>

    <form asp-action="AddAuthor" asp-controller="Admin" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label asp-for="@Model.Author.Name" class="form-label">Author Name</label>
            <input asp-for="@Model.Author.Name" class="form-control" placeholder="Enter author's name" />
        </div>

        <button type="submit" class="btn btn-primary">Add Author</button>
    </form>
</div>
