@using LibraryManager.Entities;
@using LibraryManager.ExtentionMethods;
@{
    Member loggedMember = this.ViewContext.HttpContext.Session.GetObject<Member>("loggedMember");
}


<html>
<head>
    <title>@ViewData["title"]</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container header">
        <h1 class="title">Library</h1>
        <div class="welcomeMsg">
       
            <span>Hello,
                @(loggedMember == null ? "Guest" : loggedMember.Username)
            </span>
               
        </div>
    </div>
    <div class="container">
        <ul class="menu">
            <li><a href="/Home/Index">Home</a></li>

            @if (loggedMember == null)
            {
                <li><a href="/Home/Login">Login</a></li>
            }
            else
            {
                <li><a href="/Borrowings/Index">My Borrowings</a></li>
                <li><a href="/Home/Logout">Logout</a></li>
            }

      
        </ul>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>