@model LibraryManager.ViewModels.Admin.AddBookVM

@{
	Layout = "/Views/Shared/_Site.cshtml";
	ViewData["Title"] = "Add Book";
}

<h2>Add Book</h2>

<form asp-action="AddBook" asp-controller="Admin" method="post">
	<div class="form-group">
		<label asp-for="Title"></label>
		<input asp-for="Title" class="form-control" />
	</div>
	<div class="form-group" id="existing-genre-section">
		<label asp-for="Genre.Id">Genre</label>
		<select asp-for="Genre.Id" class="form-control">
			<option value="">Select an existing genre</option>
			@foreach (Genre genre in Model.Genres)
			{
				<option value="@genre.Id">@genre.Name</option>
			}
		</select>
	</div>
	<div class="form-group" id="new-genre-section" style="display: none;">
		<label for="NewGenre">New Genre</label>
		<input asp-for="Genre.Name" type="text" id="NewGenre" class="form-control" placeholder="Enter new genre name" />
		<button type="button" id="cancel-add-new-genre">Cancel</button>
	</div>
	<div class="form-group">
		<a id="add-new-genre-link" style="color: blue; cursor: pointer;">Add a new Genre</a>
	</div>
	<div id="authors-section">

		<div class="form-group author-group" id="existing-author-section">
			<label asp-for="SelectedAuthors[0].Id">Author</label>
			<select asp-for="SelectedAuthors[0].Id" class="form-control">
				<option value="">Select an existing author</option>
				@foreach (var author in Model.Authors)
				{
					<option value="@author.Id">@author.Name</option>
				}
			</select>

			<div class="form-group">
				<button type="button" id="add-author-field" class="btn btn-secondary">+</button>
			</div>
		</div>
		<div class="form-group" id="new-author-section" style="display: none;">
			<label for="NewAuthor">New Author</label>
			<input asp-for="SelectedAuthors[0].Name" type="text" id="NewAuthor" class="form-control" placeholder="Enter new author name" />
			<button type="button" id="cancel-add-new-author">Cancel</button>
		</div>
	</div>

	<div class="form-group">
		<label asp-for="ImageUrl">Book Cover Image</label>
		<input type="file" asp-for="ImageUrl" class="form-control-file" />
	</div>
	<div class="form-group">
		<label asp-for="Quantity">Quantity</label>
		<input type="number" asp-for="Quantity" value="0" min="0" class="form-control" />
	</div>
	<button type="submit" class="btn btn-primary">Add Book</button>
</form>

<div>
	<a asp-action="Books" asp-controller="Admin">Back to List</a>
</div>

<a asp-action="AddAuthor" asp-controller="Admin"> Add Author</a>
@section Scripts {
	<script>
					document.getElementById('cancel-add-new-genre').addEventListener('click', function() {
			document.getElementById('existing-genre-section').style.display = 'block';
			document.getElementById('new-genre-section').style.display = 'none';
			document.getElementById('add-new-genre-link').style.display = 'inline';
		});
			document.getElementById('add-new-genre-link').addEventListener('click', function() {
			document.getElementById('existing-genre-section').style.display = 'none';
			document.getElementById('new-genre-section').style.display = 'block';
			document.getElementById('add-new-genre-link').style.display = 'none';
		});




	</script>
}