@model LibraryManager.ViewModels.Admin.EditVM
@{
    Layout = "/Views/Shared/_Site.cshtml";
    ViewData["Title"] = "Edit Book";
}
<div class="container">
    <div class="book-details">
        <h1 class="mb-4">Edit Book Details</h1>

        <form asp-action="Edit" asp-controller="Admin" method="post" enctype="multipart/form-data" class="w-75 mx-auto">

            <input type="hidden" asp-for="Book.Id" />
            <div class="form-group mb-3">
                <label asp-for="Book.Title">Title:</label>
                <input asp-for="Book.Title" id="Title" type="text" class="form-control" />
            </div>

            <div class="form-group mb-3">
                <label>Current Image:</label>
                <div class="mb-3">
                    <img id="currentImage" src="@Url.Content(Model.Book.ImageUrl)" alt="@Model.Book.Title" class="img-fluid rounded" style="max-height: 300px;" />
                </div>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ImageFile">Select New Image:</label>
                <input type="file" asp-for="ImageFile" class="form-control" accept="image/*" onchange="displayImagePreview(event)" />
            </div>

            <div class="form-group mb-3">
                <label asp-for="Book.OnStock">Quantity:</label>
                <input asp-for="Book.OnStock" type="number" class="form-control" />
            </div>

            <div class="form-group mb-3">
                <label>Authors:</label>
                <ul class="list-group">
                    @foreach (var author in Model.Authors)
                    {
                        <li class="list-group-item">@author.Name</li>
                    }
                </ul>
            </div>

            <div class="form-group mb-3">
                <label>Genre:</label>
                <p class="form-control-plaintext">@Model.Book.Genre.Name</p>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function displayImagePreview(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('currentImage').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        }
    </script>
}
